
data/cor.RA.v3.lua
data/cor.RA.lua
data/cor.RA.v2.lua
beta_*
data/cor.roller.lua
data/cross.cor.lua
data/Devestationx_Whm_Gear.lua
data/export/*
data/Instructions.txt
data/lavi.cor.lua
data/mage-function.lua
data/mage-gear.lua
data/RUN.lua.NEW
data/RUN.lua.old
data/sch-function.lua
data/SCH.lua
data/SCH.lua.old
data/spell-map.lua
data/User-Globals.lua
data/WAR.lua.new
data/WAR.lua.old
data/whm.lua
debug
equip_processing.lua
export.lua
flow.lua
gearswap.lua
helper_functions.lua
libs/closetCleaner.lua
libs/Modes.lua
libs/Mote-*
libs/organizer-lib.lua
libs/rev1/*
libs/rnghelper_settings.xml
libs/yayahelper.lua
packet_parsing.lua
README.md
refresh.lua
statics.lua
targets.lua
triggers.lua
user_functions.lua
validate.lua
version_history.txt
data/win_macros.png
data/WAR.3-27-19.lua
data/graphics/Dem ring.png
data/graphics/SMN/fenrir.png
data/graphics/SMN/elementalsiphon.png
data/graphics/SMN/diabolos.png
data/graphics/SMN/convert.png
data/graphics/SMN/convert-NO.png
data/graphics/SMN/convert-AUTO.png
data/graphics/SMN/carbuncle.png
data/graphics/SMN/cait sith.png
data/graphics/SMN/base.png
data/graphics/SMN/alexander.png
*.png
data/Jyouya-WHM.lua
data/SCH-Jyouya.lua
data/SMN-Jyouya-Gear.lua
data/thf.lua
data/Jyouya-SMN.lua
